@import "./color.scss";

//RESET
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

//RESET Row, Container Fluid
.row > *{

    padding-right: 0!important;
    padding-left: 0!important;

}

.row{

    --bs-gutter-x: 0rem!important;

}

.container-fluid{

    padding-right: 0!important;
    padding-left: 0!important;

}

//RESET List
ul{

    list-style-type: none;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 0!important;

    li{

        cursor: pointer;

    }

}

//Reset Link
a{
    
    text-decoration: none!important;
    color: inherit!important;

}

//Button
.btn-container{

    display: flex;
    justify-content: center;
    align-items: center;

    .btn-ms{

        padding: 15px 25px;
        font-size: 17px;
        border-radius: 30px;

    }

}

.btn-ms-b-red{

    background-color: $fifthColor!important;
    border: 1px solid $fifthColor!important;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

  }

  .btn-ms-b-yellow{

    background-color: $secondColor!important;
    border: 1px solid $secondColor!important;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);

  }

  .hoverColor-Yellow:hover{

    background-color: $secondColor!important;
    border: 1px solid $secondColor!important;

  }

  .hoverColor-Red:hover{

    background-color: $fifthColor!important;
    border: 1px solid $fifthColor!important;
    
  }

  .hoverColor-White:hover{

    background-color: $firstColor!important;
    border: 1px solid $firstColor!important;
    color: $fifthColor!important;

  }

//Header space
.space-layout-header{

    padding: 0 25%;

}

//Main and Footer space
.space-layout-general{

    padding: 0 15%;

}