@import "./color.scss";

//RESET
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

//RESET Row, Container Fluid
.row > *{

    padding-right: 0!important;
    padding-left: 0!important;

}

.row{

    --bs-gutter-x: 0rem!important;

}

.container-fluid{

    padding-right: 0!important;
    padding-left: 0!important;

}

//RESET List
ul{

    list-style-type: none;
    padding-right: 0!important;
    padding-left: 0!important;
    margin-bottom: 0!important;

    li{

        cursor: pointer;

    }

}

//Reset Link
a{
    
    text-decoration: none!important;
    color: inherit!important;

}

//Button
.btn-container{

    display: flex;
    justify-content: center;
    align-items: center;

    .btn-ms{

        padding: 15px 25px;
        font-size: 17px;
        border-radius: 30px;

    }

}

//Header space
.space-layout-header{

    padding: 0 25%;

}

//Main and Footer space
.space-layout-general{

    padding: 0 15%;

}